@page "{id}"
@model ContosoCrafts.WebSite.Pages.Product.DeleteModel
@{
    ViewData["Title"] = "Delete Product";
}

<!--Page Heading-->
<h1>Delete Product</h1>

<!--Delete Confirmation Message-->
<h3>Are you sure you want to delete this product?</h3>

    <!-- Display Validation Summary if ModelState is invalid -->
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <!-- Movie Title Input Field -->
    <br/>
    <h3>Title:<strong> @Model.Product.Title</strong></h3>
    <span asp-validation-for="Product.Title" class="text-danger"></span>
    <span asp-validation-for="Product.Image" class="text-danger"></span>
    <span asp-validation-for="Product.Director" class="text-danger"></span>
    
    <!-- Movie Description Input Field -->
    <h3>Description:</h3>
    <p>@Model.Product.Description</p>
    
    <!-- Validation for other Attributes -->
    <span asp-validation-for="Product.Description" class="text-danger"></span>
    <span asp-validation-for="Product.Genre" class="text-danger"></span>
    <span asp-validation-for="Product.YouTubeID" class="text-danger"></span>
    <span asp-validation-for="Product.YouTubeID" class="text-danger"></span>
    <span asp-validation-for="Product.ReleaseYear" class="text-danger"></span>
    <span asp-validation-for="Product.IMDbRating" class="text-danger"></span>

<!--Form for deleting the product-->
<form method="post">
    <button type="submit" class="btn btn-primary">Delete</button>
    
    <!--Cancel Button-->
    <a asp-page="./Index" class="btn btn-danger">Cancel</a>
</form>