@page
@model ContosoCrafts.WebSite.Pages.Product.IdNotFound

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">ID Not Found.</h1>
<h2 class="text-danger">An error occurred while processing your requested Id.</h2>
